<%- include ('partials/header') %>
<div class="container">
  <div class="row aln-center mt-2">
    <h2>Order History</h2>
  </div>

  <div class="order-history">
    <table class="table">
      <thead>
        <tr>
          <th>ORDER</th>
          <th>DATE</th>
          <th>STATUS</th>
          <th>TOTAL</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(order){ var yearOfDate =
        order.dateOrdered.getFullYear() ; var month =
        months[order.dateOrdered.getMonth()]; var date =
        order.dateOrdered.getDate(); var showDate = month + " " + date + ", " +
        yearOfDate;%>
        <tr>
          <td><%= order.orderNumber %></td>
          <td><%= showDate %></td>
          <td><%= order.status %></td>
          <td><%= order.total %></td>
          <td><button>View</button></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include ('partials/footer') %>
