<%- include ('partials/header') %>
<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-2" style="border-right: 1px solid #ffffff38;">
			<%-include ('partials/sidebar') %>
		</div>
		  
		<div class="col-sm-9 col-md-12 col-lg-10">
			<div class="container mt-3">
                <h3>Showing results for: 
                    <%= searched %> <%= category ? `in category: ${category}` : '' %>
                </h3> 
                <%if((typeof user != "undefined") && user.role == 'admin'){%>
                    <button class="button primary" id="addNewProduct" onclick="showCreateDialog();" style="font-size:12px;">Add New</button>
                    </br></br>
                    <%- include ('manageProducts') %>
                <%}%>
                
                <div class="row">
                    <div class="card-deck">
                        <% products.forEach(function(product){ %>
                            <div class="col-sm-9 col-md-12 col-lg-10">
                            <div class="card mb-4" style="min-width: 16rem; max-width: 18rem;">
                                <div class="card-image">
                                    <img class="bd-placeholder-img card-img-top" src="images/products/<%= product.image %>" alt="Card image cap" onclick="location.href = 'http://localhost:3000/show/<%= product._id %>'">
                
                                    <%if(typeof user != "undefined" && user.role == 'admin'){%>
                                        <div class="admin-actions">
                                            <button onclick="showEditDialog('<%=JSON.stringify(product)%>');"><i class="fas fa-edit"></i></button>
                                            <button onclick="deleteProduct('<%=JSON.stringify(product)%>');"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    <%}%>
                                </div>
                                        
                                <div class="card-body">	
                                    <h5 class="card-title" style="color: black;"><%= product.name %></h5>
                                    <h4 class="card-title" style="color: black;">$<%= product.price %></h5>
                                    <%if(product.stock == 0){%>
                                        <h4 style="color:red;">OUT OF STOCK!</h4>
                                    <%}%>
                                    <p class="card-text" style="color: black; font-size:20px"><%= product.Description %></p>
                                </div>
    
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="display: flex;align-items: center; justify-content: center; width: 100%; height: 20%;">
                                    <%if(typeof user != "undefined" && product.status != 'Inactive' && product.stock > 0){%>
                                        <form action="/cart" method="POST">  
                                            <input type="hidden" name="productID" value="<%= product._id %>">
                                            <button type="submit" class="btn btn-success">Add to cart</button>
                                        </form> 
                                    <%}%>
                                    <%if(typeof user == "undefined" && product.status != 'Inactive' && product.stock > 0){%>
                                        <form action="/login" method="GET">
                                                <button type="submit" class="btn btn-success">Add to cart</button>
                                        </form> 
                                    <%}%>
                                </div>
                            </div>
                            
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="row">
                <form action="/search" method="POST">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                     <%for(i=1; i<l+1; i++){%>
                      <li class="page-item"><button name="buttonP" value="<%= i %>" type="submit" class="btn btn-success"><%= i %></button></li>
                      <%}%>
                      <input type="hidden" name="sf" value="<%= val %>">
                    </ul>
                  </nav>
                </form>
                </div>
		</div>
	</div>
	
			
</div>
 <%- include ('partials/footer') %>
