<%- include ('partials/header') %>
<br/>

<div class="container-fluid">
    <div class="row" style="margin:auto ;display: flex;align-items: center; justify-content: center; width: 100%;">
        <div class="card mb-4" >
            <img class="card-img-top" src="/images/products/<%= product.image %>" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title" style="color:black;font-weight:1000"><%= product.name %></h3>
                <h3 class="card-title" style="color:black;">$<%= product.price %></h3>
                <h5 class="card-title" style="color:black;"><%= product.status %></h5>
                <h5 class="card-title" style="color:black;">In stock: <%= product.stock %></h5>
                <h5 class="card-title" style="color:black;"><%= product.category %></h5>
                <p class="card-text" style="color:black;"><%= product.description %></p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="display: flex;align-items: center; justify-content: center; width: 100%; height: 20%;">
                <%if(typeof user != "undefined" && product.status != 'Inactive' && product.stock > 0){%>
                    <form action="/cart" method="POST">  
                        <input type="hidden" name="productID" value="<%= product._id %>">
                        <button type="submit" class="btn btn-success">Add to cart</button>
                    </form> 
                    <%}%>
                    <%if(typeof user == "undefined" && product.status != 'Inactive' && product.stock > 0){%>
                        <form action="/login" method="GET">
                            <button type="submit" class="btn btn-success">Add to cart</button>
                        </form> 
                        <%}%>
            </div>
            </div>
          </div>

	

</div>
</div>
<%- include ('partials/footer') %>
